button{
    background-color: rgb(93, 0, 255);
    color: rgb(252, 252, 252);
    width: 100px;
    border-radius: 100px;
    border: solid 2px rgb(0, 0, 0);
}

button:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-color: rgb(113, 47, 255);
    cursor: pointer;
}

p:hover{
    background-color: rgb(196, 121, 249);
    cursor: pointer;
}

input:focus{
    background-color: rgb(218, 105, 255);
    cursor: pointer;
}

li:nth-of-type(3){
    border: 1px solid orchid;
}

#p2::after{
    content: " - aqui nos addemos o after";
}

#p2::before{
    content: "Aqui addemos o before - ";
}

.p3::first-letter{
    font-size: 5em;
    color: blueviolet;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 800;
}

.p3::first-line{
    background-color:fuchsia;
    color: white;
}

#p4::selection{
    background-color: rgb(255, 0, 140);
    color: azure;
}